.virgil {
    font-family: 'Virgil', sans-serif;
    font-style: normal;
}
.transition-500{
    @apply transition-all duration-500 ease-in-out
}
.transition-300{
    @apply transition-all duration-300 ease-in-out
}
.toolbar-shadow {
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.057);
}

.helvetica-bold {
    font-family: 'Helvetica-Bold', sans-serif;
    font-style: normal;
}

.helvetica-boldoblique {
    font-family: 'Helvetica-BoldOblique', sans-serif;
    font-style: normal;
}

.helvetica-light {
    font-family: 'helvetica-light', sans-serif;
    font-style: normal;
}

.helvetica-oblique {
    font-family: 'Helvetica-Oblique', sans-serif;
    font-style: normal;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}